In [155]:
import pandas as pd
import numpy as np
from datetime import datetime

In [156]:
# read the combined txt file into dataframe
mta = pd.read_csv("/Users/monkeyjiashuo/Documents/GitHub/sf19_ds15/curriculum/project-01/Project-Benson/Data Files/combined_file.txt")

In [157]:
mta.columns = mta.columns.str.replace(' ', '')

In [158]:
# check the # of rows&columns and data types in dataframe
mta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653353 entries, 0 to 2653352
Data columns (total 11 columns):
C/A         object
UNIT        object
SCP         object
STATION     object
LINENAME    object
DIVISION    object
DATE        object
TIME        object
DESC        object
ENTRIES     int64
EXITS       int64
dtypes: int64(2), object(9)
memory usage: 222.7+ MB

In [159]:
# randomly sample 50 instances to get sense of dataframe
mta.sample(10, random_state = 22)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
172329,R325,R388,00-00-00,E 180 ST,25,IRT,02/28/2019,20:00:00,REGULAR,961978,1125241
1006422,R610,R057,00-03-00,ATL AV-BARCLAY,2345BDNQR,IRT,03/24/2019,08:00:00,REGULAR,4894176,33117307
1827071,R644,R135,01-06-01,NEWKIRK AV,25,IRT,04/24/2019,09:00:00,REGULAR,569211,9959298
2111601,N220,R155,01-00-04,KINGSBRIDGE RD,BD,IND,05/08/2019,21:00:00,REGULAR,1363606,2315045
32320,H012,R268,01-06-00,LORIMER ST,LG,BMT,02/24/2019,20:00:00,REGULAR,1965101,1323566
714623,N553,R422,00-00-00,BAY PKWY,F,IND,03/18/2019,09:00:00,REGULAR,1746501,1663230
413260,A039,R085,01-03-00,8 ST-NYU,NRW,BMT,03/14/2019,04:00:00,REGULAR,2815921,6301047
1064394,N049,R084,01-00-02,59 ST COLUMBUS,ABCD1,IND,04/02/2019,08:00:00,REGULAR,1762763,1376352
1155098,R158,R084,00-05-04,59 ST COLUMBUS,1ABCD,IRT,04/05/2019,04:00:00,REGULAR,458752,97
2504686,N072,R012,05-03-05,34 ST-PENN STA,ACE,IND,05/24/2019,16:00:00,REGULAR,11053235,5087776

In [162]:
# transfor DATE column to datatime
mta['DATE'] = pd.to_datetime(mta['DATE'], format = '%m/%d/%Y')

In [163]:
# transform Date column and create a new column Day of week
mta['DAY_OF_WEEK'] = mta['DATE'].dt.strftime('%A')

In [167]:
# create key column combining 'C/A','UNIT','SCP','STATION'
mta['KEY'] = mta[['C/A','UNIT','SCP','STATION']].apply(tuple, axis = 1)

In [192]:
# rearrange column order
# tidious way: mta = mta[['KEY', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME' ,'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']]
cols = mta.columns.tolist();
cols = cols[-1:] + cols[:-1];
mta = mta[cols]

In [194]:
mta.head()

,KEY,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY_OF_WEEK
0,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,03:00:00,REGULAR,6955483,2359112,Saturday
1,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,07:00:00,REGULAR,6955494,2359125,Saturday
2,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,11:00:00,REGULAR,6955554,2359199,Saturday
3,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,15:00:00,REGULAR,6955714,2359248,Saturday
4,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,19:00:00,REGULAR,6956004,2359292,Saturday

In [195]:
mta['ENTRIES_DIFF'] = mta['ENTRIES'].diff(1);
mta['EXITS_DIFF'] = mta['EXITS'].diff(1);
mta['TOTAL_TRAFFIC'] = mta['ENTRIES_DIFF'] + mta['EXITS_DIFF']

In [154]:
mta.head(5)

,KEY,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY_OF_WEEK,ENTRIES_DIFF,EXITS_DIFF,TOTAL_TRAFFIC
0,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,03:00:00,REGULAR,6955483,2359112,Saturday,NaN,NaN,NaN
1,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,07:00:00,REGULAR,6955494,2359125,Saturday,11.0,13.0,24.0
2,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,11:00:00,REGULAR,6955554,2359199,Saturday,60.0,74.0,134.0
3,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,15:00:00,REGULAR,6955714,2359248,Saturday,160.0,49.0,209.0
4,"(A002, R051, 02-00-00, 59 ST)",A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-02-23,19:00:00,REGULAR,6956004,2359292,Saturday,290.0,44.0,334.0

In [196]:
mta.loc[mta['ENTRIES_DIFF'] <= 0.0, 'ENTRIES_DIFF'] = np.nan;
mta.loc[mta['ENTRIES_DIFF'] > 1000000.0, 'ENTRIES_DIFF'] = np.nan;
mta.loc[mta['EXITS_DIFF'] <= 0.0, 'EXITS_DIFF'] = np.nan;
mta.loc[mta['EXITS_DIFF'] > 1000000.0, 'EXITS_DIFF'] = np.nan;
mta.loc[mta['TOTAL_TRAFFIC'] <= 0.0, 'TOTAL_TRAFFIC'] = np.nan;
mta.loc[mta['TOTAL_TRAFFIC'] > 1000000.0, 'TOTAL_TRAFFIC'] = np.nan;

In [200]:
mta = mta.dropna()

In [ ]:
# bad code, didn't work
# df.loc[df['column_name'] == some_value]
# mta[mta[ ]==]
mta[mta['KEY'] == '(TRAM2, R469, 00-05-01, RIT-ROOSEVELT)',:]

In [201]:
# testing code
mta[(mta.UNIT == 'R469') &(mta.STATION == 'RIT-ROOSEVELT') & (mta.DATE == '2019-05-22') & (mta.SCP == '00-05-01')]

Empty DataFrame
Columns: [KEY, C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DAY_OF_WEEK, ENTRIES_DIFF, EXITS_DIFF, TOTAL_TRAFFIC]
Index: []

In [203]:
mta.groupby(['KEY','DATE']).sum()

                                                    ENTRIES     EXITS  \
KEY                                    DATE
(A002, R051, 02-00-00, 59 ST)          2019-02-23  34778913  11796189
                                       2019-02-24  41737929  14156452
                                       2019-02-25  41742345  14158756
                                       2019-02-26  41750669  14162039
                                       2019-02-27  41758962  14165337
                                       2019-02-28  41767073  14168544
                                       2019-03-01  41775831  14171830
                                       2019-03-02  34819649  11811591
                                       2019-03-03  41787397  14174917
                                       2019-03-04  41792075  14176818
                                       2019-03-05  41800053  14179485
                                       2019-03-06  41808892  14182482
                                       2019-03-07  41817513  14185873
                                       2019-03-08  41826271  14189266
                                       2019-03-09  34861409  11826063
                                       2019-03-10  34864130  11826765
                                       2019-03-11  41840926  14193571
                                       2019-03-12  34874845  11830017
                                       2019-03-13  55811332  18931083
                                       2019-03-14  48845227  16566968
                                       2019-03-15  41877125  14203406
                                       2019-03-16  34904853  11838046
                                       2019-03-17  34908677  11838941
                                       2019-03-18  41894815  14208461
                                       2019-03-19  41903893  14211608
                                       2019-03-20  41913143  14214418
                                       2019-03-21  41922489  14217510
                                       2019-03-22  41931464  14220668
                                       2019-03-23  34950294  11852557
                                       2019-03-24  41945473  14224335
...                                                     ...       ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-08  15228928   1958692
                                       2019-05-09  18276573   2350532
                                       2019-05-10  15232239   1958836
                                       2019-05-11  15234227   1958911
                                       2019-05-12  15235738   1959016
                                       2019-05-13   9141973   1175446
                                       2019-05-14  12190002   1567288
                                       2019-05-15  15238488   1959161
                                       2019-05-16  12192158   1567370
                                       2019-05-17  12193678   1567417
                                       2019-05-18   6097669    783732
                                       2019-05-19  12196945   1567507
                                       2019-05-20  12198315   1567570
                                       2019-05-21  15249576   1959546
                                       2019-05-22  15251124   1959624
                                       2019-05-23  12202195   1567742
                                       2019-05-24  12203612   1567783
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23      5554       369
                                       2019-03-02      5554       369
                                       2019-03-09      5554       369
                                       2019-03-16      5554       370
                                       2019-03-23      5554       370
                                       2019-03-30      5554       374
                                       2019-04-06      5554       374
                                       2019-04-13      5554       374
                                       2019-04-20      5554       376
                                       2019-04-27      5554       376
                                       2019-05-04      5554       376
                                       2019-05-11      5554       376
                                       2019-05-18      5554       378

                                                   ENTRIES_DIFF  EXITS_DIFF  \
KEY                                    DATE
(A002, R051, 02-00-00, 59 ST)          2019-02-23         664.0       213.0
                                       2019-02-24         419.0       167.0
                                       2019-02-25        1352.0       526.0
                                       2019-02-26        1405.0       565.0
                                       2019-02-27        1339.0       545.0
                                       2019-02-28        1391.0       536.0
                                       2019-03-01        1525.0       532.0
                                       2019-03-02         698.0       199.0
                                       2019-03-03         568.0       179.0
                                       2019-03-04        1235.0       395.0
                                       2019-03-05        1479.0       475.0
                                       2019-03-06        1454.0       524.0
                                       2019-03-07        1420.0       588.0
                                       2019-03-08        1483.0       548.0
                                       2019-03-09         662.0       181.0
                                       2019-03-10         436.0       121.0
                                       2019-03-11        1280.0       368.0
                                       2019-03-12        1490.0       385.0
                                       2019-03-13        1447.0       314.0
                                       2019-03-14        1568.0       495.0
                                       2019-03-15        1584.0       507.0
                                       2019-03-16         711.0       187.0
                                       2019-03-17         608.0       146.0
                                       2019-03-18        1382.0       479.0
                                       2019-03-19        1501.0       532.0
                                       2019-03-20        1583.0       452.0
                                       2019-03-21        1488.0       548.0
                                       2019-03-22        1552.0       507.0
                                       2019-03-23         788.0       212.0
                                       2019-03-24         733.0       216.0
...                                                         ...         ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-08         309.0        22.0
                                       2019-05-09         335.0        13.0
                                       2019-05-10         367.0        11.0
                                       2019-05-11         406.0        20.0
                                       2019-05-12         107.0        10.0
                                       2019-05-13         149.0         9.0
                                       2019-05-14         169.0         9.0
                                       2019-05-15         287.0         9.0
                                       2019-05-16         335.0        10.0
                                       2019-05-17         340.0        13.0
                                       2019-05-18         331.0         8.0
                                       2019-05-19         227.0        15.0
                                       2019-05-20         194.0        13.0
                                       2019-05-21         316.0        18.0
                                       2019-05-22         318.0        14.0
                                       2019-05-23         241.0         9.0
                                       2019-05-24         417.0        10.0
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23        2700.0       307.0
                                       2019-03-02        2700.0       307.0
                                       2019-03-09        2694.0       307.0
                                       2019-03-16        2692.0       308.0
                                       2019-03-23        2686.0       308.0
                                       2019-03-30        2684.0       312.0
                                       2019-04-06        2682.0       312.0
                                       2019-04-13        2678.0       312.0
                                       2019-04-20        2676.0       314.0
                                       2019-04-27        2671.0       314.0
                                       2019-05-04        2668.0       314.0
                                       2019-05-11        2662.0       314.0
                                       2019-05-18        2659.0       316.0

                                                   TOTAL_TRAFFIC
KEY                                    DATE
(A002, R051, 02-00-00, 59 ST)          2019-02-23          877.0
                                       2019-02-24          586.0
                                       2019-02-25         1878.0
                                       2019-02-26         1970.0
                                       2019-02-27         1884.0
                                       2019-02-28         1927.0
                                       2019-03-01         2057.0
                                       2019-03-02          897.0
                                       2019-03-03          747.0
                                       2019-03-04         1630.0
                                       2019-03-05         1954.0
                                       2019-03-06         1978.0
                                       2019-03-07         2008.0
                                       2019-03-08         2031.0
                                       2019-03-09          843.0
                                       2019-03-10          557.0
                                       2019-03-11         1648.0
                                       2019-03-12         1875.0
                                       2019-03-13         1761.0
                                       2019-03-14         2063.0
                                       2019-03-15         2091.0
                                       2019-03-16          898.0
                                       2019-03-17          754.0
                                       2019-03-18         1861.0
                                       2019-03-19         2033.0
                                       2019-03-20         2035.0
                                       2019-03-21         2036.0
                                       2019-03-22         2059.0
                                       2019-03-23         1000.0
                                       2019-03-24          949.0
...                                                          ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-08          331.0
                                       2019-05-09          348.0
                                       2019-05-10          378.0
                                       2019-05-11          426.0
                                       2019-05-12          117.0
                                       2019-05-13          158.0
                                       2019-05-14          178.0
                                       2019-05-15          296.0
                                       2019-05-16          345.0
                                       2019-05-17          353.0
                                       2019-05-18          339.0
                                       2019-05-19          242.0
                                       2019-05-20          207.0
                                       2019-05-21          334.0
                                       2019-05-22          332.0
                                       2019-05-23          250.0
                                       2019-05-24          427.0
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23         3007.0
                                       2019-03-02         3007.0
                                       2019-03-09         3001.0
                                       2019-03-16         3000.0
                                       2019-03-23         2994.0
                                       2019-03-30         2996.0
                                       2019-04-06         2994.0
                                       2019-04-13         2990.0
                                       2019-04-20         2990.0
                                       2019-04-27         2985.0
                                       2019-05-04         2982.0
                                       2019-05-11         2976.0
                                       2019-05-18         2975.0

[377986 rows x 5 columns]

In [204]:
mta.groupby(['KEY','DATE','TIME']).sum()

                                                            ENTRIES    EXITS  \
KEY                                    DATE       TIME
(A002, R051, 02-00-00, 59 ST)          2019-02-23 07:00:00  6955494  2359125
                                                  11:00:00  6955554  2359199
                                                  15:00:00  6955714  2359248
                                                  19:00:00  6956004  2359292
                                                  23:00:00  6956147  2359325
                                       2019-02-24 03:00:00  6956177  2359332
                                                  07:00:00  6956184  2359339
                                                  11:00:00  6956215  2359388
                                                  15:00:00  6956315  2359432
                                                  19:00:00  6956472  2359469
                                                  23:00:00  6956566  2359492
                                       2019-02-25 03:00:00  6956582  2359496
                                                  07:00:00  6956590  2359535
                                                  11:00:00  6956705  2359829
                                                  15:00:00  6956905  2359900
                                                  19:00:00  6957645  2359978
                                                  23:00:00  6957918  2360018
                                       2019-02-26 03:00:00  6957937  2360027
                                                  07:00:00  6957947  2360074
                                                  11:00:00  6958086  2360379
                                                  15:00:00  6958300  2360446
                                                  19:00:00  6959076  2360530
                                                  23:00:00  6959323  2360583
                                       2019-02-27 03:00:00  6959345  2360592
                                                  07:00:00  6959358  2360635
                                                  11:00:00  6959500  2360922
                                                  15:00:00  6959711  2360986
                                                  19:00:00  6960386  2361074
                                                  23:00:00  6960662  2361128
                                       2019-02-28 03:00:00  6960690  2361132
...                                                             ...      ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-21 09:00:00  3049818   391904
                                                  13:00:00  3049885   391908
                                                  17:00:00  3049984   391916
                                                  21:00:00  3050082   391917
                                       2019-05-22 01:00:00  3050112   391920
                                                  09:00:00  3050119   391922
                                                  13:00:00  3050185   391923
                                                  17:00:00  3050306   391928
                                                  21:00:00  3050402   391931
                                       2019-05-23 07:37:06  3050441   391932
                                                  13:00:00  3050486   391933
                                                  17:00:00  3050584   391937
                                                  21:00:00  3050684   391940
                                       2019-05-24 01:00:00  3050714   391941
                                                  13:00:00  3050803   391944
                                                  17:00:00  3050978   391948
                                                  21:00:00  3051117   391950
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23 00:00:00     5554      369
                                       2019-03-02 00:00:00     5554      369
                                       2019-03-09 00:00:00     5554      369
                                       2019-03-16 01:00:00     5554      370
                                       2019-03-23 01:00:00     5554      370
                                       2019-03-30 01:00:00     5554      374
                                       2019-04-06 01:00:00     5554      374
                                       2019-04-13 01:00:00     5554      374
                                       2019-04-20 01:00:00     5554      376
                                       2019-04-27 01:00:00     5554      376
                                       2019-05-04 01:00:00     5554      376
                                       2019-05-11 01:00:00     5554      376
                                       2019-05-18 01:00:00     5554      378

                                                            ENTRIES_DIFF  \
KEY                                    DATE       TIME
(A002, R051, 02-00-00, 59 ST)          2019-02-23 07:00:00          11.0
                                                  11:00:00          60.0
                                                  15:00:00         160.0
                                                  19:00:00         290.0
                                                  23:00:00         143.0
                                       2019-02-24 03:00:00          30.0
                                                  07:00:00           7.0
                                                  11:00:00          31.0
                                                  15:00:00         100.0
                                                  19:00:00         157.0
                                                  23:00:00          94.0
                                       2019-02-25 03:00:00          16.0
                                                  07:00:00           8.0
                                                  11:00:00         115.0
                                                  15:00:00         200.0
                                                  19:00:00         740.0
                                                  23:00:00         273.0
                                       2019-02-26 03:00:00          19.0
                                                  07:00:00          10.0
                                                  11:00:00         139.0
                                                  15:00:00         214.0
                                                  19:00:00         776.0
                                                  23:00:00         247.0
                                       2019-02-27 03:00:00          22.0
                                                  07:00:00          13.0
                                                  11:00:00         142.0
                                                  15:00:00         211.0
                                                  19:00:00         675.0
                                                  23:00:00         276.0
                                       2019-02-28 03:00:00          28.0
...                                                                  ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-21 09:00:00          11.0
                                                  13:00:00          67.0
                                                  17:00:00          99.0
                                                  21:00:00          98.0
                                       2019-05-22 01:00:00          30.0
                                                  09:00:00           5.0
                                                  13:00:00          66.0
                                                  17:00:00         121.0
                                                  21:00:00          96.0
                                       2019-05-23 07:37:06           1.0
                                                  13:00:00          42.0
                                                  17:00:00          98.0
                                                  21:00:00         100.0
                                       2019-05-24 01:00:00          30.0
                                                  13:00:00          73.0
                                                  17:00:00         175.0
                                                  21:00:00         139.0
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23 00:00:00        2700.0
                                       2019-03-02 00:00:00        2700.0
                                       2019-03-09 00:00:00        2694.0
                                       2019-03-16 01:00:00        2692.0
                                       2019-03-23 01:00:00        2686.0
                                       2019-03-30 01:00:00        2684.0
                                       2019-04-06 01:00:00        2682.0
                                       2019-04-13 01:00:00        2678.0
                                       2019-04-20 01:00:00        2676.0
                                       2019-04-27 01:00:00        2671.0
                                       2019-05-04 01:00:00        2668.0
                                       2019-05-11 01:00:00        2662.0
                                       2019-05-18 01:00:00        2659.0

                                                            EXITS_DIFF  \
KEY                                    DATE       TIME
(A002, R051, 02-00-00, 59 ST)          2019-02-23 07:00:00        13.0
                                                  11:00:00        74.0
                                                  15:00:00        49.0
                                                  19:00:00        44.0
                                                  23:00:00        33.0
                                       2019-02-24 03:00:00         7.0
                                                  07:00:00         7.0
                                                  11:00:00        49.0
                                                  15:00:00        44.0
                                                  19:00:00        37.0
                                                  23:00:00        23.0
                                       2019-02-25 03:00:00         4.0
                                                  07:00:00        39.0
                                                  11:00:00       294.0
                                                  15:00:00        71.0
                                                  19:00:00        78.0
                                                  23:00:00        40.0
                                       2019-02-26 03:00:00         9.0
                                                  07:00:00        47.0
                                                  11:00:00       305.0
                                                  15:00:00        67.0
                                                  19:00:00        84.0
                                                  23:00:00        53.0
                                       2019-02-27 03:00:00         9.0
                                                  07:00:00        43.0
                                                  11:00:00       287.0
                                                  15:00:00        64.0
                                                  19:00:00        88.0
                                                  23:00:00        54.0
                                       2019-02-28 03:00:00         4.0
...                                                                ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-21 09:00:00         2.0
                                                  13:00:00         4.0
                                                  17:00:00         8.0
                                                  21:00:00         1.0
                                       2019-05-22 01:00:00         3.0
                                                  09:00:00         2.0
                                                  13:00:00         1.0
                                                  17:00:00         5.0
                                                  21:00:00         3.0
                                       2019-05-23 07:37:06         1.0
                                                  13:00:00         1.0
                                                  17:00:00         4.0
                                                  21:00:00         3.0
                                       2019-05-24 01:00:00         1.0
                                                  13:00:00         3.0
                                                  17:00:00         4.0
                                                  21:00:00         2.0
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23 00:00:00       307.0
                                       2019-03-02 00:00:00       307.0
                                       2019-03-09 00:00:00       307.0
                                       2019-03-16 01:00:00       308.0
                                       2019-03-23 01:00:00       308.0
                                       2019-03-30 01:00:00       312.0
                                       2019-04-06 01:00:00       312.0
                                       2019-04-13 01:00:00       312.0
                                       2019-04-20 01:00:00       314.0
                                       2019-04-27 01:00:00       314.0
                                       2019-05-04 01:00:00       314.0
                                       2019-05-11 01:00:00       314.0
                                       2019-05-18 01:00:00       316.0

                                                            TOTAL_TRAFFIC
KEY                                    DATE       TIME
(A002, R051, 02-00-00, 59 ST)          2019-02-23 07:00:00           24.0
                                                  11:00:00          134.0
                                                  15:00:00          209.0
                                                  19:00:00          334.0
                                                  23:00:00          176.0
                                       2019-02-24 03:00:00           37.0
                                                  07:00:00           14.0
                                                  11:00:00           80.0
                                                  15:00:00          144.0
                                                  19:00:00          194.0
                                                  23:00:00          117.0
                                       2019-02-25 03:00:00           20.0
                                                  07:00:00           47.0
                                                  11:00:00          409.0
                                                  15:00:00          271.0
                                                  19:00:00          818.0
                                                  23:00:00          313.0
                                       2019-02-26 03:00:00           28.0
                                                  07:00:00           57.0
                                                  11:00:00          444.0
                                                  15:00:00          281.0
                                                  19:00:00          860.0
                                                  23:00:00          300.0
                                       2019-02-27 03:00:00           31.0
                                                  07:00:00           56.0
                                                  11:00:00          429.0
                                                  15:00:00          275.0
                                                  19:00:00          763.0
                                                  23:00:00          330.0
                                       2019-02-28 03:00:00           32.0
...                                                                   ...
(TRAM2, R469, 00-03-01, RIT-ROOSEVELT) 2019-05-21 09:00:00           13.0
                                                  13:00:00           71.0
                                                  17:00:00          107.0
                                                  21:00:00           99.0
                                       2019-05-22 01:00:00           33.0
                                                  09:00:00            7.0
                                                  13:00:00           67.0
                                                  17:00:00          126.0
                                                  21:00:00           99.0
                                       2019-05-23 07:37:06            2.0
                                                  13:00:00           43.0
                                                  17:00:00          102.0
                                                  21:00:00          103.0
                                       2019-05-24 01:00:00           31.0
                                                  13:00:00           76.0
                                                  17:00:00          179.0
                                                  21:00:00          141.0
(TRAM2, R469, 00-05-01, RIT-ROOSEVELT) 2019-02-23 00:00:00         3007.0
                                       2019-03-02 00:00:00         3007.0
                                       2019-03-09 00:00:00         3001.0
                                       2019-03-16 01:00:00         3000.0
                                       2019-03-23 01:00:00         2994.0
                                       2019-03-30 01:00:00         2996.0
                                       2019-04-06 01:00:00         2994.0
                                       2019-04-13 01:00:00         2990.0
                                       2019-04-20 01:00:00         2990.0
                                       2019-04-27 01:00:00         2985.0
                                       2019-05-04 01:00:00         2982.0
                                       2019-05-11 01:00:00         2976.0
                                       2019-05-18 01:00:00         2975.0

[2112680 rows x 5 columns]